.windows{
    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;
    color: #f5ecec;
    height: 100%;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        gap: 2rem;
        align-items: center;
        border-bottom: 1px solid rgba(245, 245, 245, 0.799);
        display: flex;
        .dots{
            display: flex;
            gap: 0.25rem;
            padding-inline: 0.75rem;
            padding-block: 0.5rem;
            .dot{
                height: 15px;
                width: 15px;
                background-color: #fff;
                border-radius: 50%;
            }
            .red{
                background-color: red;
                cursor: pointer;
            }
            .yellow{
                background-color: yellow;
            }
            .green{
                background-color: green;
            }
        }
    }
    .main-content{
        height: calc(100% - 57px);
        overflow: hidden;
    }
    *::-webkit-scrollbar{
        width: 8px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: rgb(202, 191, 191);
        border-radius: 4px;
    }
}
